# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
.vscode
coverage.xml

!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json


# Home Assistant configuration
config/*
!config/configuration.yaml